header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 5%;
	background-color: #ddd;

	div#search_overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 4;
	}

	h1#logo {
		a {
			color: #000;
			text-decoration: none;
		}
	}

	input#search_bar {
		position: relative;
		z-index: 5;
		width: 75%;
		height: 50px;
		padding: 0 1%;
	}

	img.cart_icon {
		width: 50px;
		border-radius: 10px;
		padding: 5px;
	}

	img.cart_icon:hover {
		background-color: #ccc;
	}
}