header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 5%;
	background-color: #ccc;

	h1#logo {
		a {
			color: #000;
			text-decoration: none;
		}
	}

	div#search_container {
		position: relative;
		width: 80%;
		margin: auto;

		input#search_bar {
			position: relative;
			z-index: 5;
			width: 100%;
			height: 50px;
			padding: 0 1%;
		}
	}

	div#search_overlay, div#cart_overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.8);
	}

	div#search_overlay {
		z-index: 4;
	}

	div#cart_overlay {
		z-index: 6;
	}
	
	div#cart_container {
		position: relative;

		button#open_cart_overlay {
			border: none;
			border-radius: 10px;
			background-color: transparent;
			cursor: pointer;

			img.cart_icon {
				width: 50px;
				padding: 5px;
			}
		}

		button#open_cart_overlay:hover {
			background-color: #aaa;
		}
	}
}

@keyframes fade_in {
	0% {opacity: 0;}
	100% {opacity: 1}
}