div.product {
	width: 11vw;
	margin-right: 2vw;
	border: 2px solid #ccc;
	border-radius: 5px;
	padding: 10px 1%;
	box-shadow: 0 0 15px #ddd;
	background-color: transparent;
	cursor: pointer;
	transition: transform 0.05s;

	div.link_container {
		position: relative;

		div.overlay > a {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
		}

		div.box_art {
			display: flex;
			justify-content: center;

			img {
				width: auto;
				height: auto;
				max-width: 200px;
				max-height: 200px;
			}
		}

		div.title {
			height: 60px;

			h2 {
				margin: 10px 0;
				text-align: center;
			}
		}
	}

	

	div.info {
		div.price {
			p {
				font-size: 1.4em;
				font-weight: bold;
			}
		}

		a.details {
			display: inline-block;
			margin-top: 10px;
			border: 1px solid black;
			padding: 10px 10%;
			background-color: transparent;
			color: #000;
			font-weight: bold;
			text-decoration: none;
			cursor: pointer;
		}

		a.details:hover {
			background-color: #ddd;
		}
	}
}

div.product:hover {
	background-color: #eee;
	transform: scale(1.05);
}
