* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-y: scroll;
	font-size: 0.9em;
	background-color: rgba(0, 0, 0, 0.01);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
