/*div#cart_overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.9);

	div.cart {
		width: 50%;
		margin: 23vw auto;
		border-radius: 10px;
		padding: 15px 5%;
		background-color: #fff;
	}
}*/

div#cart {
	margin: 40px 8.5%;
	border: 2px solid #ccc;
	border-radius: 10px;
	padding: 20px 3vw;
	box-shadow: 0 0 30px #ddd;
	background-color: #fff;

	h1 {
		font-size: 2.4em;
	}

	div.cart_product {
		margin: 30px 0;
		border: 1px solid #ddd;
		border-radius: 15px;
		padding: 30px 3%;
		box-shadow: 0px 0px 5px #ddd;
		background-color: rgba(0, 0, 0, 0.03);

		div.link_container {
			display: flex;
			align-items: center;
			position: relative;

			div.overlay > a {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 4;
			}

			div.box_art > img {
				width: 100px;
			}

			div.product_info {
				width: 100%;
				padding-left: 1vw;

				font-size: 1.2em;

				h2 {
					margin-bottom: 10px;
					font-size: 2em;

					a {
						text-decoration: none;
						color: #000;
					}
				}

				p {
					margin-top: 10px;
					font-style: italic;
				}
			}

			div.remove_from_cart_container {
				button.remove_from_cart {
					position: relative;
					z-index: 6;
					border: none;
					border-radius: 5px;
					padding: 8px 0.4vw;
					background-color: transparent;
					cursor: pointer;

					img {
						width: 30px;
					}
				}

				button.remove_from_cart:hover {
					background-color: #aaa;
				}
			}
		}
	}
		

	div.cart_product:hover {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

div#total_price {
	display: flex;
	justify-content: flex-end;
	align-items: baseline;
	padding: 10px 2%;

	div {
		margin: 5px 2vw;
	}

	div#price {
		margin-right: 0;

		p {
			font-size: 1.6em;
			font-weight: bold;
			font-style: italic;
		}
		
	}
}
